.footer {
    width: 100%;
    height: auto;
    color: lightgray;
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
  }
  .footer .col {
    width: 400px;
    float: left;
    box-sizing: border-box;
    padding: auto;
  }
  