.footer {
  width: 100%;
  height: auto;
  position: relative;
  color: lightgray;
  margin-top: 10px;
  position: fixed;
  bottom: 0px;
}
.footer .col {
  width: 400px;
  float: left;
  box-sizing: border-box;
  padding: auto;
}
