/* képgaléria */
div.kép {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  height: 350px;
}
div.kép:hover {
  border: 1px solid #777;
}

div.kép img {
  width: 100%;
  height: 80%;
}

div.leírás {
  padding: 15px;
  text-align: center;
}
