/* képgaléria */
div.kép {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.kép:hover {
  border: 1px solid #777;
}

div.kép img {
  width: 100%;
  height: auto;
}

div.leírás {
  padding: 15px;
  text-align: center;
}
